<style>

      

    .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>

<div>
    <h1 style="margin-left: 3%;">Events</h1>
    <div class="tab">
        <button class="tablinks" onclick="openEvent(event, 'upcoming')">Upcoming</button>
        <button class="tablinks" onclick="openEvent(event, 'approval')">Awaiting Approval</button>
        <button class="tablinks" onclick="openEvent(event, 'denied')">Denied</button>
        <button class="tablinks" onclick="openEvent(event, 'completed')">Completed</button>
    </div>

    <div id="upcoming" class="tabcontent">
        <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">NAME</th>
                    <th class="text-center">DATE</th>
                    <th class="text-center">LOCATION</th>
                    <th class="text-center">PARTICIPANTS</th>
                    <th class="text-center">DESCRIPTIONS</th>
                    <th class="text-center">EVENT CREATOR</th>
                </tr>
            </thead>
            <tbody>
                {{#if upcoming}}
                    {{#each upcoming}}
                        <tr>
                            <td class="text-center">{{eventName}}</td>
                            <td class="text-center">{{eventDate}}</td>
                            <td class="text-center">{{eventLocation}}</td>
                            <td class="text-center">{{attendeeCount}}</td>
                            <td class="text-center">{{eventDesc}}</td>
                            <td class="text-center">{{eventCreator}}</td>
                            <td class="text-center">
                                <div>
                                    <a href="/event/unapprove/{{eventID}}" style="color: red;">Unapprove</a>
                                </div>
                                
                            </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td colspan="7" class="text-center text-muted">No attendee registered</td>
                    </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
    </div>
    
    <div id="approval" class="tabcontent">
        <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">NAME</th>
                    <th class="text-center">DATE</th>
                    <th class="text-center">LOCATION</th>
                    <th class="text-center">PARTICIPANTS</th>
                    <th class="text-center">DESCRIPTIONS</th>
                    <th class="text-center">EVENT CREATOR</th>
                </tr>
            </thead>
            <tbody>
                {{#if approval}}
                    {{#each approval}}
                        <tr>
                            <td class="text-center">{{eventName}}</td>
                            <td class="text-center">{{eventDate}}</td>
                            <td class="text-center">{{eventLocation}}</td>
                            <td class="text-center">{{attendeeCount}}</td>
                            <td class="text-center">{{eventDesc}}</td>
                            <td class="text-center">{{eventCreator}}</td>
                            <td class="text-center">
                                <div>
                                    <a href="/event/approve/{{eventID}}" style="color: green;">Approve</a>
                                    <a href="/event/deny/{{eventID}}" style="color: red;">Deny</a>
                                </div>
                                
                            </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td colspan="7" class="text-center text-muted">No attendee registered</td>
                    </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
    </div>

<div id="denied" class="tabcontent">
        <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">NAME</th>
                    <th class="text-center">DATE</th>
                    <th class="text-center">LOCATION</th>
                    <th class="text-center">PARTICIPANTS</th>
                    <th class="text-center">DESCRIPTIONS</th>
                    <th class="text-center">EVENT CREATOR</th>
                </tr>
            </thead>
            <tbody>
                {{#if denied}}
                    {{#each denied}}
                        <tr>
                            <td class="text-center">{{eventName}}</td>
                            <td class="text-center">{{eventDate}}</td>
                            <td class="text-center">{{eventLocation}}</td>
                            <td class="text-center">{{attendeeCount}}</td>
                            <td class="text-center">{{eventDesc}}</td>
                            <td class="text-center">{{eventCreator}}</td>
                            <td class="text-center">
                                <div>
                                    <a href="/event/unapprove/{{eventID}}">Restore</a>
                                </div>
                                
                            </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td colspan="7" class="text-center text-muted">No attendee registered</td>
                    </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
    </div>

    <div id="completed" class="tabcontent">
        <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">NAME</th>
                    <th class="text-center">DATE</th>
                    <th class="text-center">LOCATION</th>
                    <th class="text-center">PARTICIPANTS</th>
                    <th class="text-center">DESCRIPTIONS</th>
                    <th class="text-center">EVENT CREATOR</th>
                </tr>
            </thead>
            <tbody>
                {{#if completed}}
                    {{#each completed}}
                        <tr>
                            <td class="text-center">{{eventName}}</td>
                            <td class="text-center">{{eventDate}}</td>
                            <td class="text-center">{{eventLocation}}</td>
                            <td class="text-center">{{attendeeCount}}</td>
                            <td class="text-center">{{eventDesc}}</td>
                            <td class="text-center">{{eventCreator}}</td>
                            <td class="text-center" style="">
                                <a href="/event/deleteEvent/{{eventID}}" 
                                data-toggle="confirmation"
                                style="position: relative; margin-right:30px; color:red;"  
                                data-title="Confirm delete?"><i class="far fa-trash-alt"></i>Remove</a>
                                </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td colspan="7" class="text-center text-muted">No attendee registered</td>
                    </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
    </div>
    
</div>


<script>
 function openEvent(evt, eventDone) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(eventDone).style.display = "block";
  evt.currentTarget.className += " active";
}

</script>