<form action="/event/saveEvent" method="post" id="saveEvent" >
<div class="container">
 <div class="row">
    
        <div class="col-md-11 mb-4" style="margin:auto; padding: 10px; position: relative;">
            <div class="card" style="height: 750px;">
                <div class="row no-gutters">
                    {{#if event.eventImg}}
                            <div class=" image-container">
                                <input type="file" id="eventImage" name="eventImage" accept="image/*" onchange="previewImage(event)" style="display: none;" required>
                                <img src="data:image/png;base64,{{event.eventImg}}" id="imagePreview" class="img-fluid" alt="Event Image" onclick="document.getElementById('eventImage').click();" style="cursor: pointer;">
                            </div>
                        {{/if}}
                    <div class="card-body ">
                         <div style="margin-bottom: 10px;">
                            <label for="eventName" style="display: block;">Event Name:</label>
                            <input type="text" id="eventName" name="eventName" value="{{event.eventName}}" required><br>
                        </div>
                        <div class="col-md-12">
                            <small class="text-muted">
                                 <div class="row">
                                    <div class="col-md-4 float-left">Organised by: You</div>
                                    <div class="col-md-4" style="text-align: center;">Event Location: {{event.eventLocation}}</div>
                                    <div style="margin-bottom: 10px;" class="col-md-4 float-right">
                                        <label for="eventDate" style="display: block;">Event Date:</label>
                                        <input id="datepicker" width="200" name="eventDate" value="{{formatDate event.eventDate 'DD MMM YYYY'}}" readonly>
                                    </div>
                            
                                </div>
                            </small></div><br>
                       {{!-- {{#if event.eventImg}}
                            <div class="image-row">
                                {{#each event.eventImg}}
                                   <div class=" image-container">
                                        <img src="" class="img-fluid" alt="Event Image">
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}  --}}
                        <div style="margin-bottom: 10px;">
        <label for="eventDescription" style="display: block;">Event Description:</label>
        <textarea id="eventDescription" name="eventDescription" rows="4" cols="50" value="" required>{{event.eventDesc}}</textarea>
    </div>
                        <p>{{event.eventDesc}}</p>
                        {{!-- put google maps based on location here --}}

                        {{!-- <div id="map" style="height: 400px; width: 100%;"></div>
                        <div id="plusCode">test</div>
                        <iframe
                            width="600"
                            height="450"
                            frameborder="0" style="border:0"
                             src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAkIJSwIxhL_0K6hzTOZeDFZmeAyiu9NDI&center={{event.eventLocation}}&zoom=15"
                             allowfullscreen>
                        </iframe>
                        <script>
                            // Get the latitude and longitude from the eventLocation
                            var eventLocation = "{{event.eventLocation}}";
                            var latLng = eventLocation.split(',');

                            // Convert latitude and longitude to plus code
                            var plusCode = OpenLocationCode.encode(parseFloat(latLng[0]), parseFloat(latLng[1]));
                             document.getElementById('plusCode').innerText = "Plus Code: " + plusCode;

                            var iframe = document.querySelector('iframe');
                            iframe.src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyAkIJSwIxhL_0K6hzTOZeDFZmeAyiu9NDI&q="+ plusCode+"&zoom=15";
                        </script> --}}
                    </div>

                </div>
            </div>
            <div style=" position: absolute; bottom: 25px; right: 6%; margin-right:30px">
                <button class="btn btn-dark" style="">Update</button>
            </div>
        </div>
      
 </div>
 
</div>

  </form>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkIJSwIxhL_0K6hzTOZeDFZmeAyiu9NDI&libraries=places,marker&callback=initMap&solution_channel=GMP_QB_addressselection_v2_cABC" async defer></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans+Text:500&amp;lang=en">
<link rel="stylesheet" href="/css/eventCard.css">

<script>
  $(function() {
        $("#datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
            minDate:0,
            onSelect: function(dateText) {
                $('#datepicker').val(dateText);
            }
        });
    });

    function previewImage(event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function(){
            var img = document.getElementById('imagePreview');
            img.src = reader.result;
            img.style.display = 'block';
        };
        reader.readAsDataURL(input.files[0]);
    }
</script>