<div class="container">
 <div class="row">
        <div class="col-md-11 mb-4" style="margin:auto; padding: 10px; position: relative;">
            <div class="card" style="height:;">
                <div class="row no-gutters">
                    {{#if event.eventImg}}
                            <div class=" image-container">
                                <img src="data:image/png;base64,{{event.eventImg}}" class="img-fluid" alt="Event Image">
                            </div>
                        {{/if}}
                    <div class="card-body ">
                        <h2>{{event.eventName}}</h2><br>
                        <div class="col-md-12">
                            <small class="text-muted">
                                 <div class="row">
                                    <div class="col-md-4 float-left">Organised by: {{event.eventCreator}}</div>
                                    <div class="col-md-4" style="text-align: center;">Event Location: {{event.eventLocation}}</div>
                                    <div class="col-md-4 float-right" style="text-align: right;">Event Date: {{formatDate event.eventDate 'DD MMM YYYY'}}</div>
                                </div>
                            </small></div><br>
                        {{#if event.imageSet}}
                            <div class="image-row">
                                {{#each event.imageSet}}
                                   <div class=" image-container">
                                        <img src="data:image/png;base64,{{this}}" class="img-fluid" alt="Event Image">
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}
                        <p>{{event.eventDesc}}</p>
                        {{!-- put google maps based on location here --}}

                       <div id="map" style="">
                        <iframe
                            width="600"
                            height="450"
                            frameborder="0" style="border:0"
                             src=""
                             allowfullscreen>
                        </iframe>
                        </div>
                        {{!-- put countdown timer based on date here --}}
                        <div class="countdown-section">
                        <div id="countdown" class="center"></div>
                            <h1 id="eventStart">Event will start in</h1>
                                <div class="countdown-timer">
                                    <div class="black-box">
                                        <h1 id="days">0</h1>
                                    </div>

                                    <div class="black-box">
                                        <h1 id="hours">0</h1>
                                    </div>

                                    <div class="black-box">
                                        <h1 id="minutes">0</h1>
                                    </div>

                                    <div class="black-box">
                                        <h1 id="seconds">0</h1>
                                    </div>
                            </div>
                        </div>

                        {{#if viewAttendee}}
                            <div style="margin: 20px;">
                                <a href="/event/viewAttendee/{{event.eventID}}" class="btn btn-dark" style="position:absolute; bottom:20px; left:50%;">View Attendees</a>
                            </div>
                            {{else}}
                            <div style="margin: 20px;">
                                <a href="/event/registerEvent/{{event.eventID}}" class="btn btn-dark" style="position: absolute; bottom: 20px; right: 10px;">Register</a>
                            </div>
                        {{/if}}

                    </div>

                </div>
            </div>
        </div>
 </div>
</div>

<link rel="stylesheet" href="/css/eventCard.css">
<link rel="stylesheet" href="/css/eventDetails.css">
<link rel="stylesheet" href="/css/eventMain.css">

<script>
const encodedAddress = encodeURIComponent("{{event.eventLocation}}");
const embedUrl = `https://www.google.com/maps/embed/v1/place?key=AIzaSyAkIJSwIxhL_0K6hzTOZeDFZmeAyiu9NDI&q=${encodedAddress}&zoom=15`;
const iframe = document.querySelector('#map iframe');
iframe.src = embedUrl;

    // Set the event date
    var eventDate = new Date("{{event.eventDate}}");

    // Update the countdown every second
    var countdown = setInterval(function() {
        var now = new Date().getTime();
        var distance = eventDate - now;

        if (distance < 0) {
            clearInterval(countdown);
            document.getElementById("eventStart").style.visibility = "hidden";
            document.getElementById("countdown").innerHTML = "<h1>Event has been completed</h1>";
            var blackBoxes = document.getElementsByClassName("black-box");
            for (var i = 0; i < blackBoxes.length; i++) {
            blackBoxes[i].style.visibility = "hidden";
        }
        } else {
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60) / (1000 * 60)));
            var seconds = Math.floor((distance % (1000 * 60) / 1000));

        // Display the countdown
        document.getElementById("days").innerText = days;
        document.getElementById("hours").innerText = hours;
        document.getElementById("minutes").innerText = minutes;
        document.getElementById("seconds").innerText = seconds;
    } 1000});
</script>